@model ProjectsListViewModel

@{
    this.ViewData["Title"] = "Всички ПРОЕКТИ, страница " + Model.PageNumber;
    IDictionary<string, string> status = new Dictionary<string, string>()
    {
        {"Completed", "Завършен"},
        {"Active", "Активен"},
        {"Cancelled", "Отказан"},
    };
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1>@this.ViewData["Title"]</h1>
<hr />

<div>
    <ul style="list-style:none">
        <li class="nav-item">
            <a class="btn btn-secondary"  asp-controller="Projects" asp-action="Create">Добави ПРОЕКТ</a>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-warning me-md-2" asp-controller="Projects" asp-action="Active">Активни</a>
                <button class="btn btn-success me-md-2" type="button">Изпълнени</button>
                <button class="btn btn-danger" type="button">Отказани</button>
            </div>
        </li>
    </ul>
</div>


@foreach (var project in this.Model.Projects)
{
    <div>
        <div class="card mb-3" style="max-width:1140px;max-height:256px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src=@project.ImageUrl class="img-fluid rounded-start " style="height:100%;max-height:240px;max-width:350px;" alt=@project.Title>
                </div>
                <div class="col-md-8">
                    <div class="col-md-6 card-body d-md-inline-block">
                        <h5 class="card-title">@project.Title</h5>
                        <span>Статус: @status[project.Status]</span>
                        <p class="card-text" style="margin-top:10%;margin-bottom:0%">Клиент: @project.ClientFullName - телефон: @project.ClientPhoneNumber </p>
                        <p class="card-text"><small class="text-muted">Последна промяна преди @DateTime.Now.Subtract(project.CreatedOn).Days дни.</small></p>
                    </div>
                    <div class="col-md-4 card-body d-md-inline-block">
                        <h5 class="float-md-right" style="margin-bottom:15%">@project.TotalPrice лв.</h5>
                        <ul class="btn-group-toggle" style="list-style:none">
                            <li class="single-meta">
                                <a asp-controller="Projects" asp-action="ById" asp-route-id="@project.Id" class="float-md-right alert btn btn-info">Детайли</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<hr />

<partial name="_PagingPartial" model="@Model" />
