@model SingleProjectViewModel

@{
    this.ViewData["Title"] = Model.Title;
}

<h2 style="font-family: sans-serif">@this.ViewData["Title"]</h2>
<h5 class="font-weight-lighter">Начална дата: @(Model.StartDate.HasValue ? Model.StartDate.Value.ToString("dd MMMM yyyy") : "")</h5>
<h5 class="font-weight-lighter">Крайна дата: @(Model.EndDate.HasValue ? Model.StartDate.Value.ToString("dd MMMM yyyy") : "")</h5>
<hr />
<div class="col-md-12">
    <div id="carouselExampleControls" class="carousel slide col-md-8" data-bs-ride="carousel" style="max-height:400px;max-width:550px;display:inline-block">
        <div class="carousel-inner text-center">
            <div class="carousel-item active">
                <img src=@Model.ImageUrl class="rounded img-fluid w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="text-center col-md-6" style="display:inline-block;">
        <div class="card-body ">
            <h5 class="card-title">Проект <small class="text-muted">за</small> @Model.ClientFullName</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Обща цена:</small> <span class="fw-bolder" style="font:bold">@Model.TotalPrice</span> <small class="text-muted">лв.</small></p>
            <p class="card-text"><small class="text-muted">Платено капаро:</small> <span class="fw-bolder" style="font:bold">@Model.DownPayment</span> <small class="text-muted">лв.</small></p>
        </div>
        <div class="card-body d-md-inline-block">
            <ul class="btn-group-toggle" style="list-style:none">
                <li class="single-meta">
                    <a asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Id" class="float-md-right btn btn-info">Промени</a>
                </li>
                <li class="single-meta">
                    <form asp-controller="Projects" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                    </form>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Изтрий</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div style="margin-top:3%">
    <div class="text-center">
        <h3 class="font-weight-light">Описание</h3>
        <p style="margin:30px; margin-left:20%; margin-right:20%">@Model.Description</p>
        <a class="btn btn-secondary" style="margin-bottom:3%;margin-right:10%;margin-left:10%" asp-controller="Furnitures" asp-action="Create" asp-route-projectId="@Model.Id">
            <i class="fa-solid fa-plus"></i>      МЕБЕЛ
        </a>
    </div>
</div>

@foreach (var furniture in this.Model.Furnitures)
{
    <div>
        <div class="card mb-3" style="max-width:1140px;max-height:256px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src=@furniture.ImageUrl class="img-fluid rounded-start " style="height:100%;max-height:240px;max-width:350px;" alt=@furniture.Name>
                </div>
                <div class="col-md-8">
                    <div class="col-md-6 card-body d-md-inline-block">
                        <h5 class="card-title">@furniture.Name</h5>
                        <span>Цвят: @furniture.Color</span>
                        <p class="card-text" style="margin-top:10%;margin-bottom:0%">Размери: @furniture.Length.ToString("F0") / @furniture.Width.ToString("F0") / @furniture.Depth.ToString("F0")</p>
                    </div>
                    <div class="col-md-4 card-body d-md-inline-block">
                        <ul class="btn-group-toggle" style="list-style:none">
                            <li class="single-meta">
                                <a asp-controller="Furnitures" asp-action="ById" asp-route-id="@furniture.Id" class="float-md-right alert btn btn-info">Подробности</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<!--Delete Modal-->
<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Сигурни ли сте,че искате да изтриете проекта?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Да</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Не</button>
            </div>
        </div>
    </div>
</div>