@model SingleFurnitureViewModel
@{
    this.ViewData["Title"] = Model.Name;

    IDictionary<string, string> textureTypes = new Dictionary<string, string>()
    {
        {"CHIPBOARD", "ПДЧ"},
        {"MDF", "МДФ"},
        {"Other", "Друг"},
    };
}

<h2>Мебел:  @this.ViewData["Title"]</h2>
<hr />

<div>
    <ul style="list-style:none">
        <li class="nav-item">
            <form asp-controller="Furnitures" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
            </form>
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Изтрий</button>
        </li>
    </ul>
</div>

<div class="card mb-12" style="margin-top:3%">
    <div class="row">
        <div class="col-md-6">
            <img src=@Model.ImageUrl class="img-fluid rounded-start" alt=@Model.Name>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa-sharp fa-solid fa-screwdriver-wrench"></i>
                        Материал
                    </h3>
                </div>

                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Дизайн</dt>
                        <dd class="col-sm-8">@Model.TextureName -  @textureTypes[Model.TextureType]</dd>
                        <dt class="col-sm-4">Производител</dt>
                        <dd class="col-sm-8">@Model.TextureManufacturerName</dd>
                        <dt class="col-sm-4">Код</dt>
                        <dd class="col-sm-8">@Model.TextureTextureCode</dd>
                    </dl>
                </div>

            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa-sharp fa-solid fa-stapler"></i>
                        Кант
                    </h3>
                </div>

                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Дизайн</dt>
                        <dd class="col-sm-8">@Model.EdgebandName</dd>
                        <dt class="col-sm-4">Дебелина</dt>
                        <dd class="col-sm-8">@Model.EdgebandThickness мм.</dd>
                        <dt class="col-sm-4">Производител</dt>
                        <dd class="col-sm-8">@Model.EdgebandManufacturerName</dd>
                    </dl>
                </div>

            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa-solid fa-gears"></i>
                        Мебелен обков
                    </h3>
                </div>

                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Механизми</dt>
                        <dd class="col-sm-8">@Model.HardwareMechanismType</dd>
                        <dt class="col-sm-4">Количество</dt>
                        <dd class="col-sm-8">@Model.HardwareMechanismQuantity бр.</dd>
                        <dt class="col-sm-4">Панти</dt>
                        <dd class="col-sm-8">@Model.HardwareHingeType</dd>
                        <dt class="col-sm-4">Количество</dt>
                        <dd class="col-sm-8">@Model.HardwareHingeQuantity бр.</dd>
                        <dt class="col-sm-4">Модел дръжки</dt>
                        <dd class="col-sm-8">@Model.HardwareHandleModel</dd>
                    </dl>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Сигурни ли сте,че искате да изтриете информацията за тази мебел?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Изтрий</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отказ</button>
            </div>
        </div>
    </div>
</div>

