@using FurnitureHandbook.Data.Models
@model CreateFurnitureInputModel
@{
    this.ViewData["Title"] = "ДОБАВИ МЕБЕЛ";
    var textures = this.Model.Textures.Select(x => new SelectListItem(x.Value, x.Key));
    var edgebands = this.Model.Edgebands.Select(x => new SelectListItem(x.Value, x.Key));
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-danger">@this.TempData["Message"]</div>
}

<form method="post" class="col-md-6 offset-md-3"
      enctype="multipart/form-data">
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <hr />
    <div class="form-group">
        <label asp-for="Name">Мебел</label>
        <textarea asp-for="Name" class="form-control"></textarea>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Снимка на проекта</label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Color">Цвят/Дизайн</label>
        <textarea asp-for="Color" class="form-control"></textarea>
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    <hr />
    <h3>Размери:</h3>
    
    <div class="input-group mb-3">
        <input type="text" onfocus="this.value=''" class="form-control" asp-for="Length" placeholder="Дължина" aria-label="Lenght">
        <span class="input-group-text">/</span>
        <input type="text" onfocus="this.value=''" class="form-control" asp-for="Depth" placeholder="Височина" aria-label="Височина">
        <span class="input-group-text">/</span>
        <input type="text" onfocus="this.value=''" class="form-control" asp-for="Width" placeholder="Дълбочина" aria-label="Дълбочина">
    </div>
    <small class="text-muted">Дължина/Височина/Дълбочина</small>
    <hr />
    <h3>Материал:</h3>
    <div class="form-group">
        <select asp-for="TextureId" class="form-control" asp-items="textures"><option selected>Моля изберете...</option></select>
        <span asp-validation-for="TextureId" class="text-danger"></span>
    </div>
    <small class="text-muted">Добавете нов материал към списъка(в случай,че не го намирате):</small>
    <div class="form-group mb-3 ">
        <label asp-for="TextureName">Материал</label>
        <textarea asp-for="TextureName" class="form-control"></textarea>
        <span asp-validation-for="TextureName" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="@Model.TextureType">Вид на материала</label>
        <select asp-for="@Model.TextureType" asp-items="@Html.GetEnumSelectList<TextureType>()"></select>
    </div>
    <div class="form-group">
        <label asp-for="TextureManufacturerName">Производител</label>
        <textarea asp-for="TextureManufacturerName" class="form-control"></textarea>
        <span asp-validation-for="TextureManufacturerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TextureCode">Код</label>
        <textarea asp-for="TextureCode" class="form-control"></textarea>
        <span asp-validation-for="TextureCode" class="text-danger"></span>
    </div>
    <hr />
    <h3>Кант:</h3>
    <div class="form-group">
        <select asp-for="EdgebandId" class="form-control" asp-items="edgebands">
            <option value="0" selected>Моля изберете...</option>
        </select>
        <span asp-validation-for="EdgebandId" class="text-danger"></span>
    </div>
    <small class="text-muted">Добавете нов кант към списъка(в случай,че не го намирате):</small>
    <div class="form-group">
        <label asp-for="EdgebandName">Кант</label>
        <textarea asp-for="EdgebandName" class="form-control"></textarea>
        <span asp-validation-for="EdgebandName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EdgebandThickness">Дебелина на канта(мм.)</label>
        <textarea asp-for="EdgebandThickness" class="form-control"></textarea>
        <span asp-validation-for="EdgebandThickness" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EdgebandManufacturerName">Производител</label>
        <textarea asp-for="EdgebandManufacturerName" class="form-control"></textarea>
        <span asp-validation-for="EdgebandManufacturerName" class="text-danger"></span>
    </div>
    
    <hr />
    <input type="submit" class="btn btn-primary" value="Добави" />
</form>